header {
  align-items: center;
  background: $color-white;
  box-shadow: 0 1px 5px -1px rgba($color-black, 0.70);
  display: flex;
  height: 4rem;
  left: 0;
  justify-content: center;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;

  a {
    align-items: center;
    color: $color-main;
    display: inline-flex;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;

      img {
        transform: rotate(-10deg);
      }
    }

    img {
      height: 2rem;
      margin-right: 1rem;
      transition: transform 0.2s;
      width: 2rem;
    }
  }

}
