h1 {
  font-size: $size-xl;
}

a.btn {
  background: $color-secondary;
  border: 1px solid $color-secondary;
  border-radius: $radius-m;
  color: $color-white;
  font-weight: $weight-bold;
  padding: 1rem 1.5rem;
  transition: color 0.2s, background 0.2s;

  &:hover {
    background: $color-white;
    color: $color-secondary;
  }
}
