h1 {
  font-size: $size-xxxl;
}

h2 {
  font-size: $size-xxl;
}

h3 {
  font-size: $size-xl;
  font-weight: $weight-semibold;
}

p {
  font-size: $size-m;
  line-height: 1.5rem;

  &.large {
    font-size: $size-l;
  }
}

a.btn {
  background: $color-secondary;
  border: 1px solid $color-secondary;
  border-radius: $radius-m;
  color: $color-white;
  font-weight: $weight-bold;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: color 0.2s, background 0.2s;

  &:hover {
    background: $color-white;
    color: $color-secondary;
  }
}
