@import 'reset';
@import 'variables';
@import 'nav';

html {
  background: rgba($color-black, 0.1);
}

body {
  background: white;
  font-family: $font-default;
  margin: 0 auto;
  max-width: $site-width;
}
