.index-cta {
  background: $color-main;
  color: $color-white;
  text-align: center;

  a {
    color: $color-white;
    display: block;
    font-size: $size-xxl;
    padding: 5rem;
    text-decoration: none;

    &::after {
      content: '→';
      display: inline-block;
      opacity: 0;
      transition: opacity 0.2s, transform 0.2s;
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: translate3d(0.5rem, 0, 0);
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .index-cta {
    a {
      padding: 2rem 1rem;
    }
  }
}
