.index-hero {
  background: $color-white;

  .wrapper {
    align-items: center;
    display: grid;
    display: -ms-grid;
    grid-column-gap: 5rem;
    grid-template-columns: 1fr 1fr;
    padding: 11rem 3rem 7rem;

    .content {
      p {
        margin-top: 1.5rem;
      }
    }

    .image {
      background-image: url('../../images/brush.svg');
      background-repeat: no-repeat;
      background-size: contain;
      color: rgba($color-main, 0.3);
      padding: 2rem;
      position: relative;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .index-hero {
    .wrapper {
      grid-row-gap: 3rem;
      grid-template-columns: 1fr;
      padding: 8rem 1rem 1rem;
    }
  }
}
