.index-hero {
  background: $color-white;

  .wrapper {
    align-items: center;
    display: grid;
    display: -ms-grid;
    grid-column-gap: 5rem;
    grid-template-columns: 1fr 1fr;
    padding: 11rem 3rem 7rem;

    .content {
      p {
        margin-top: 1.5rem;
      }
    }

    .image {
      color: rgba($color-main, 0.3);
      position: relative;

      svg {
        left: -3.75rem;
        position: absolute;
        top: 0;
        transform: rotate(-52deg);
        width: 2.5rem;

        &:last-child {
          left: -0.625rem;
          top: -1.5rem;
          transform: rotate(4deg);
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .index-hero {
    .wrapper {
      grid-row-gap: 3rem;
      grid-template-columns: 1fr;
      padding: 8rem 1rem 1rem;

      .image {
        svg {
          display: none;
        }
      }
    }
  }
}
