.index-hero {
  overflow: hidden;
  position: relative;

  .wrapper {
    display: grid;
    display: -ms-grid;
    grid-column-gap: 5rem;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  svg {
    bottom: 0;
    height: 100%;
    position: absolute;
    fill: $color-main;
    width: 100%;
  }
}

@media (max-width: $breakpoint-mobile) {
  .index-hero {
    .wrapper {
      grid-row-gap: 3rem;
      grid-template-columns: 1fr;
      padding: 1rem;

      h1 {
        text-align: center;
      }
    }
  }
}
