.index-presentation {
  background: linear-gradient($color-main, $color-white);
  display: grid;
  display: -ms-grid;
  grid-column-gap: 7rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 5rem 3rem;

  .image {
    figure {
      border-radius: $radius-m;
      box-shadow: 0 0 1px 0 rgba($color-black, 0.45);
      margin: 0 auto;
      text-align: center;
      transform: rotate(-5deg);
      width: 80%;

      img {
        border: 0.5rem solid $color-white;
        border-radius: $radius-m $radius-m 0 0;
      }

      figcaption {
        background: $color-white;
        border-radius: 0 0 $radius-m $radius-m;
        font-family: serif;
        font-style: italic;
        margin-top: -0.5rem;
        padding: 0.5rem 1rem 0.75rem;
      }
    }
  }

  .info {
    p {
      margin: 1.5rem auto 0;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .index-presentation {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
    padding: 5rem 1rem;

    figure {
      order: 2;
    }

    .info {
      text-align: center;
    }
  }
}
