.index-products {
  margin: 2rem auto 5rem 0;
  padding: 0 3rem;
  text-align: center;

  .heading {
    p {
      margin: 1.5rem auto 3rem;
      max-width: 30rem;
    }
  }

  ul {
    display: grid;
    display: -ms-grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

    li {
      .image {
        align-items: center;
        background: var(--color);
        display: flex;
        justify-content: center;
        padding: 3rem;

        img {
          width: 60%;
        }
      }

      .info {
        padding-top: 2rem;
        text-align: left;

        h3 {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .index-products {
    padding: 0 1rem;
  }
}
