.index-reasons {
  background: linear-gradient($color-white, rgba($color-main, 0.8));
  padding: 5rem 3rem;

  .wrapper {
    h2 {
      text-align: center;
    }

    > p {
      margin: 1.5rem auto 3rem;
      max-width: 30rem;
      text-align: center;
    }

    ul {
      display: grid;
      display: -ms-grid;
      grid-column-gap: 5rem;
      grid-row-gap: 3rem;
      grid-template-columns: repeat(3, 1fr);

      li {
        svg {
          display: inline;
          margin: 0 0.5rem -0.25rem -0.5rem;
          width: 2rem;
        }

        h3 {
          display: inline-block;
        }

        p {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .index-reasons {
    padding: 3rem 1rem;

    .wrapper {
      ul {
        grid-template-columns: 1fr;
      }
    }
  }
}
