<% content = data.pages.home.hero %>

<section>
  <div class="wrapper">
    <div class="content">
      <h1><%= content.title %></h1>
      <a href="<%= content.link.href %>" class="btn"><%= content.link.label %></a>
    </div>
    <img src="<%= content.image %>" alt="" />
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0 100, 100 100, 100 0"/>
  </svg>
</section>
