<% content = data.pages.home.hero %>

<section class="index-hero">
  <div class="wrapper">
    <h1><%= content.title %></h1>
    <img src="<%= content.image %>" alt="" />
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0 100, 100 100, 100 0"/>
  </svg>
</section>
