<% content = data.pages.home.hero %>

<section class="index-hero">
  <div class="wrapper">
    <div class="content">
      <h1><%= content.title %></h1>
      <div><%= markdown(content.description) %></div>
    </div>
    <img src="<%= content.image %>" alt="" />
  </div>
</section>
