<% content = data.pages.home.reasons %>

<section class="index-reasons">
  <div class="wrapper">
    <h2><%= content.title %></h2>
    <p class="large"><%= content.description %></p>
    <ul>
      <% content.features.each do |f| %>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" aria-hidden="true">
          <path stroke="currentColor" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
        </svg>
        <h3><%= f.title %></h3>
        <p><%= f.description %></p>
      </li>
      <% end %>
    </ul>
  </div>
</section>
